* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}

.row {
    display: flex;
}

.button {
    flex-basis: 25%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background-color: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
    background-color: lightgrey;
}
.button:hover {
    font-weight: bold;
}

.negative, .operator, .equals {
    background-color: orange;
}

.double {
    flex-basis: 50%;
}

.display {
    width: 100%;
    padding: 10px 20px;
    color: white;
    background-color: #333;
    border: 1px solid black;
    font-size: 2em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}


@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
}
